.wrapper-auth-form{
  background: #aaaaaa;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  .auth-form{
    text-align: center;

    .form-element{
      min-height: 80px;
    }

    .error{
      color: red;
      font-size: 0.8em;
    }
    .response_error{
      color: red;
      font-size: 1.1em;
      margin-bottom: 10px;
    }
  }
}

